In [ ]:
class Exam:
  def __init__(self,mark):
    self.mark=mark
  def __add__(self,obj1):
    obj=self.mark+obj1.mark
    return Exam(obj)
Q1 = Exam(int(input("Quiz 1 (out of 10): ")))
Q2 = Exam(int(input("Quiz 2 (out of 10): ")))
Lab = Exam(int(input("Lab (out of 30): ")))
Mid = Exam(int(input("Mid (out of 20): ")))
Final = Exam(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 30
Total marks: 100

In [ ]:
class Course:
  def __init__(self,c_name):
    self.c_name=c_name


class Teacher:
  def __init__(self,name,title):
    self.__name=name
    self.__title=title
    self.__course=[]

  def addCourse(self,obj1):
    return  self.__course.append(obj1.c_name)
  def printDetail(self):
    print("====================================")
    print(f"Name:  {self.__name}")
    print(f"Department:  {self.__title}")
    print("List of courses")
    print("====================================")
    for i in self.__course:
      print(i)
    print("====================================")
t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")                          
c1 = Course("CSE 110 Programming Language I")                           
c2 = Course("CSE 111 Programming Language-II")                           
c3 = Course("CSE 220 Data Structures")                           
c4 = Course("CSE 221 Algorithms")                           
c5 = Course("CCSE 230 Discrete Mathematics")                           
c6 = Course("CSE 310 Object Oriented Programming")                           
c7 = Course("CSE 320 Data Communications")                          
c8 = Course("CSE 340 Computer Architecture") 
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name:  Saad Abdullah
Department:  CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name:  Mumit Khan
Department:  CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
====================================
Name:  Sadia Kazi
Department:  CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

In [ ]:
class Team:
    def __init__(self, name=None):
        self.name = name
        self.lis = []

    def setName(self, name):
        if self.name == None:
            self.name = name
            
    def addPlayer(self, name):
        self.lis.append(name.player)

    def printDetail(self):
        print("=====================")
        print("Team: ", self.name)
        print("List of players: ")
        print(self.lis)
        print("=====================")


class Player:
    def __init__(self, player):
        self.player = player

b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team:  Bangladesh
List of players:
['Mashrafi', 'Tamim']
=====================
=====================
Team:  Australia
List of players:
['Ponting', 'Lee']
=====================

In [ ]:
class Color:
  def __init__(self,clr):
    self.clr=clr

  def __add__(self,obj1):
    if self.clr=="red":
      if obj1.clr=="yellow":
        form=f"Orange"
      elif obj1.clr=="blue":
        form=f"Violet"
    
    elif self.clr=="yellow":
      if obj1.clr=="red":
        form=f"Orange"
      elif obj1.clr=="blue":
        form=f"Green"
    else: 
      if obj1.clr=="red":
        form=f"Violet"
      elif obj1.clr=="yellow":
        form=f"Green"
    return Color(form)




C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: red
Second Color: yellow
Color formed: Orange

In [ ]:
import math
class Circle:
  def __init__(self,radius):
    self.__radius=radius
  def getRadius(self):
    return self.__radius
  def area(self):
    return  math.pi*(self.__radius)**2
  def __add__(self,obj1):
     summ=self.__radius+obj1.__radius
     return Circle(summ)





c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
 
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
 
c3 = c1 + c2 
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [ ]:
class Triangle:
  def __init__(self,base,height):
    self.__base=base
    self.__height=height
  def getBase(self):
    return self.__base
  def getHeight(self):
    return self.__height
  def __sub__(self,obj1):
    newbase=self.__base-obj1.__base
    newheight=self.__height-obj1.__height
    return Triangle(newbase,newheight)
  def area(self):
    return 0.5*self.__base*self.__height




t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
 
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
 
t3 = t1 - t2 
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
class Dolls:
    def __init__(self, name, price):
        self.name = name
        self.price = price

    def detail(self):
        lst = self.name.split()

        if len(lst) <= 2:
            return f"Doll: {self.name} \nTotal price: {str(self.price)} taka"
        else:
            return f"Dolls: {self.name} \nTotal price: {str(self.price)} taka"

    def __gt__(self, other):
        if self.price > other.price:
            return True
        else:
            return False

    def __add__(self, other):
        var1 = self.price + other.price
        var2 = self.name + " " + other.name
        return Dolls(var2, var1)

obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

Doll: Tweety
Total price: 2500 taka
Thank you!
=========================
Doll: Daffy Duck
Total price: 1800 taka
Thank you!
=========================
Doll: Bugs Bunny
Total price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total price: 1500 taka
Thank you!
=========================
Dolls: Daffy Duck Bugs Bunny
Total price: 4800 taka
Congratulations! You get the Tweety as a gift!

In [ ]:
class  Coordinates:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def __sub__(self,obj1):
    c=self.a-obj1.a
    d=self.b-obj1.b
    return Coordinates(c,d)
  def __mul__(self,obj1):
    e=self.a*obj1.a
    f=self.b*obj1.b
    return Coordinates(e,f)
  def __eq__(self,obj):
    if self.a==obj.a and self.b==obj.b:
      return f"The calculated coordinates are the same."
    else:
      return f"The calculated coordinates are NOT the same."
  def detail(self):
    return f"({self.a},{self.b})"

p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))

p4 = p1 - p2 
print(p4.detail())

p5 = p1 * p2
print(p5.detail())

point_check = (p4 == p5)
print(point_check)

1
2
3
4
(-2,-2)
(3,8)
The calculated coordinates are NOT the same.