<a href="https://colab.research.google.com/github/showrin20/100-days-of-Python/blob/main/Class_Variable_%2CClass_method%2Cstatic_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Assassin:
  T_Assassin=0
  def __init__(self,name,rate):
    self.name=name
    self.rate=rate
    Assassin.T_Assassin+=1
  def printDetails(self):
    print(f"Name: {self.name}\nrate:{self.rate}%\nTotal number of Assassin:{Assassin.T_Assassin} ")
  @classmethod
  def failureRate(cls,name,f_rate):
      rate2=100-f_rate
      return Assassin(name,rate2)
  @classmethod
  def failurePercentage(cls,name,percent):
    rate3=100-int(percent[0:2])
    return Assassin(name,rate3)
  
    

    



    


john_wick = Assassin('John Wick', 100)
john_wick.printDetails()
print('================================')
nagisa = Assassin.failureRate("Nagisa", 20)
nagisa.printDetails()
print('================================')
akabane = Assassin.failurePercentage("Akabane", "10%")
akabane.printDetails()

Name: John Wick
rate:100%
Total number of Assassin:1
================================
Name: Nagisa
rate:80%
Total number of Assassin:2
================================
Name: Akabane
rate:90%
Total number of Assassin:3

In [ ]:
class Student:
  Id=0
  def __init__(self,name,dep,age,cg):
    self.name=name
    self.dep=dep
    self.age=age
    self.cg=cg
    Student.Id+=1
  def showDetails(self):
    print(f"ID: {Student.Id}\nName: {self.name}\nDepartment: CSE\nAge: {self.age}\nCGPA: {self.cg}")
  @classmethod
  def from_String(cls,string2):
    string1=string2.split("-")
    return Student(string1[0],string1[1],string1[2],string1[3])





s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails() 
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Department: CSE
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Department: CSE
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Department: CSE
Age: 23
CGPA: 3.96

In [ ]:
class Passenger:
  count=0
  def __init__(self,name):
    self.name=name
    self.fare=0
    Passenger.count+=1
  def set_bag_weight(self,weight):
    if weight>50:
      self.fare=450+100
    elif weight>20 or weight<51:
      self.fare=450+50
    else:
      self.fare=450
  
  def printDetail(self):
    print(f"Name: {self.name}\nBus Fare:{self.fare} taka")







print("Total Passenger:", Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare:550 taka
=========================
Name: Carol
Bus Fare:500 taka
=========================
Name: Mike
Bus Fare:500 taka
=========================
Total Passenger: 3

In [ ]:
class Travel:
  count=0
  def __init__(self,city="Dhaka",city2=None):
    self.city=city
    self.city2=city2
    Travel.count+=1
    self.time=1.00
  def display_travel_info(self):
    return f"Source: {self.city}\nDestination:{self.city2}\nFlight Time:{self.time:.2f}"
  def set_time(self,time):
    self.time=time
  def set_source(self,source):
    self.city=source
  def set_destination(self,dest):
    self.city2=dest


print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source: Dhaka
Destination:India
Flight Time:1.00
=======================
Source: Kuala Lampur
Destination:Dhaka
Flight Time:23.00
=======================
Source: Dhaka
Destination:Germany
Flight Time:15.00
=======================
Source: Malaysia
Destination:Canada
Flight Time:9.00
=======================
No. of Traveller = 4

In [5]:
class Employee:
  def __init__(self,name,workingPeriod):
    self.name=name
    self.workingPeriod=workingPeriod
  @classmethod
  def employeeByJoiningYear(cls,name,year):
      Period=2022-year
      return Employee(name,Period)
  @staticmethod
  def  experienceCheck(experience,gender):
    if gender=="male":
      if experience<3:
        return("He is not experienced")
      else:
        return("He is experienced")
    else:
      if gender=="female":
        if experience<3:
          return("She is not experienced")
        else:
          return("She is experienced")    

employee1 = Employee('Dororo', 3)
employee2 = Employee.employeeByJoiningYear('Harry', 2016)
print(employee1.workingPeriod)
print(employee2.workingPeriod)
print(employee1.name)
print(employee2.name)
print(Employee.experienceCheck(2, "male"))
print(Employee.experienceCheck(3, "female"))

3
6
Dororo
Harry
He is not experienced
She is experienced

In [7]:
class Laptop:
  laptopCount=0
  def __init__(self,name,count):
    self.name=name
    self.count=count
    Laptop.laptopCount+=1
  @classmethod
  def advantage(cls):
    print("Laptops are portable")
  @classmethod 
  def resetCount(cls):
    Laptop.laptopCount=0



lenovo = Laptop("Lenovo", 5);
dell = Laptop("Dell", 7);
print(lenovo.name, lenovo.count)
print(dell.name, dell.count)
print("Total number of Laptops", Laptop.laptopCount)
Laptop.advantage()
Laptop.resetCount()
print("Total number of Laptops", Laptop.laptopCount)

Lenovo 5
Dell 7
Total number of Laptops 2
Laptops are portable
Total number of Laptops 0

In [14]:
class Cat:
  Number_of_cats=0
  def __init__(self,firstparameter,secondparameter):
    self.firstparameter=firstparameter
    self.secondparameter=secondparameter 
  @classmethod
  def no_parameter(cls):
    c="White"
    a="Sitting"
    return Cat(c,a)
  @classmethod
  def first_parameter(cls,c="White"):
    a="sitting"
    cls.c=c
    return Cat(c,a)
  @classmethod
  def second_parameter(cls,a="sitting"):
    cls.a=a
    c="White"
    return Cat(c,a)
  def printCat(self):
    print(f"{self.firstparameter} cat is {self.secondparameter}")
  def changeColor(self,color):
    self.firstparameter=color


print("Total number of cats:", Cat.Number_of_cats)
c1 = Cat.no_parameter()
c2 = Cat.first_parameter("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c5 = Cat.second_parameter("playing")
print("=======================")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c5.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()
print("=======================")
print("Total number of cats:", Cat.Number_of_cats)

Total number of cats: 0
=======================
White cat is Sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
White cat is playing
Blue cat is Sitting
Purple cat is jumping
=======================
Total number of cats: 0

In [ ]:
class Cylinder:
  def __init__(self,radius,height):
    self.radius=radius
    self.height=height
  


c1 = Cylinder(0,0)
Cylinder.area(c1.radius,c1.height)
Cylinder.volume(c1.radius,c1.height)
print("===============================")
c2 = Cylinder.swap(8,3)
c2.area(c2.radius,c2.height)
c2.volume(c2.radius,c2.height)
print("===============================")
c3 = Cylinder.changeFormat("7-13")
c3.area(c3.radius,c3.height)
c3.volume(c3.radius,c3.height)
print("===============================")
Cylinder(0.3,5.56).area(Cylinder.radius,Cylinder.height)
print("===============================")
Cylinder(3,5).volume(Cylinder.radius,Cylinder.height)

In [ ]:
class FinalT6A:
    temp = 3
 
    def __init__(self, x, p):
        self.sum, self.y = 0, 2
        FinalT6A.temp += 3
        self.y = self.temp - p
        self.sum = self.temp + x
        print(x, self.y, self.sum)
    
    def methodA(self):
        x, y = 0, 0
        y = y + self.y
        x = self.y + 2 + self.temp
        self.sum = x + y + self.methodB(self.temp, y)
        print(x, y, self.sum)
    
    def methodB(self, temp, n):
        x = 0
        FinalT6A.temp += 1
        self.y = self.y + (FinalT6A.temp)
        FinalT6A.temp -= 1
        x = x + 2 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
        return self.sum

q1 = FinalT6A(2,1)
q1.methodA()
q1.methodA()

2 5 8
7 12 27
13 5 45
14 19 78
20 12 110

In [ ]:
class A:
    temp = 4
    def __init__(self):
        self.y = self.temp - 2
        self.sum = self.temp + 1
        A.temp -= 2
        self.methodA(3, 4)
    def methodA(self, m, n):
        x = 0
        self.y = self.y + m + (self.temp)
        A.temp += 1
        x = x + 1 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
    
class B:
    x = 0
    def __init__(self, b = None):
        self.y, self.temp, self.sum = 5, -5, 2
 
        if b == None:
            self.y = self.temp + 3
            self.sum = 3 + self.temp + 2
            self.temp -= 2
        else:
            self.sum = b.sum
            B.x = b.x
            b.methodB(2, 3)
    def methodA(self, m, n):
        x = 2
        self.y = self.y + m + (self.temp)
        self.temp += 1
        x = x + 5 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
    def methodB(self, m, n):
        y = 0
        y = y + self.y
        B.x = self.y + 2 + self.temp
        self.methodA(self.x, y)
        self.sum = self.x + y + self.sum
        print(self.x, y, self.sum)

a=A()
b1=B()
b2=B(b1)
b1.methodA(1,2)
b2.methodB(3,2)

5 7 17
5 -16 -11
-7 -2 -20
9 -21 -32
12 2 14
2 5 21

In [ ]:
class Puzzle:
    x = 0
    def methodA(self):
        Puzzle.x = 5 
        z = Puzzle.x + self.methodB(Puzzle.x)
        print(Puzzle.x, z)
        z = self.methodB(z + 2) + Puzzle.x
        print(Puzzle.x, z)
        self.methodB(Puzzle.x, z)
        print(Puzzle.x, z)
    def methodB(self, *args):
        if len(args) == 1:
            y = args[0]
            Puzzle.x = y + Puzzle.x
            print(Puzzle.x, y)
            return Puzzle.x + 3
        else:
            z, x = args
            z = z + 1
            x = x + 1
            print(z, x)

p = Puzzle()
p.methodA()
p.methodA()
p = Puzzle()
p.methodA()
p.methodB(7)

10 5
10 18
30 20
30 63
31 64
30 63
10 5
10 18
30 20
30 63
31 64
30 63
10 5
10 18
30 20
30 63
31 64
30 63
37 7

40